/*
Theme Name: Audiodealer
Theme URI: http://codesweet.ru
Author: Ed.Creater
Author URI: http://codesweet.ru
Description: The 2015 theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu, header image, and background.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready
Text Domain: m-transe

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/**
 * Table of Contents
 *
 * 1.0 CONTENT
	1.1. Post 
		* We made all style for post format, post type here : wp-puro/assets/scss/content.scss
	1.2. Comment
		* We made all style for page/post Comment form here : wp-puro/assets/scss/comment.scss
	1.3. Media 
		* We added all style for wordpress media (like video, audio, gallery,...) here:  wp-puro/assets/scss/media.scss
	1.4. Button
		* We made all style for Button here : wp-puro/assets/scss/button.scss
	1.5. Form
		* We added all style for FORM here : wp-puro/assets/scss/form.scss
	1.6. Typography
		* We added all style for HTML tag here : wp-puro/assets/scss/typography.scss
	1.7. Element
		* All Style for our element work with VC here : wp-puro/assets/scss/elements.scss
		 
 * 2.0 - Header
 	* We added all style for HEADER here: wp-puro/assets/scss/header.scss

 * 3.0 - Navigation
 	* We added all style for MAIN NAVITION here: wp-puro/assets/scss/navigation.scss

 * 4.0 - Page Title Bar
 	* We added all style for PAGE TITLE BAR here: wp-puro/assets/scss/pagetitle.scss

 * 5.0 - Footer
 	* We added all style for Footer here : wp-puro/assets/scss/footer.scss

 * 6.0 - Sidebar
 	* We added all style for Sidebar here : wp-puro/assets/scss/sidebar.scss

 * 7.0 - Widgets
 	* We added all style for Widgets here : wp-puro/assets/scss/widgets.scss

 * 8.0 - Customs Bootstap
 	* We added some custom style for Bootstap here : wp-puro/assets/scss/customs.scss
 	
 * 9.0 - Extensions
	* We added custom style for 3rd extensions/plugin we used in this theme (like: Revolution slider, Contact Form 7...) here : wp-puro/assets/scss/extensions.scss

 * 10.0 Mixins
 	* We added all mixins function used in this theme here:  wp-puro/assets/scss/mixins.scss

 * 11.0 Variations
 	* We added all VARIATIONS used in this theme here:  wp-puro/assets/scss/variations.scss

 * 12.0 - Media Queries
 *	  All style located in wp-puro/assets/scss/reponsive.scss
 *    12.1 - Mobile Large
 *    12.2 - Tablet Small
 *    12.3 - Tablet Large
 *    12.4 - Desktop Small
 *    12.5 - Desktop Medium
 *    12.6 - Desktop Large
 *    12.7 - Desktop X-Large
 */
