
    /*
    .$size-1, .$size-2, .$size-3, .$size-4, .$size-5, .$size-6, .$size-7, .$size-8, .$size-9, .$size-10, .$size-11, .$size-12
    {
        min-height: 1px;
        float: left;
    }

    .$size-1{width: 8.3333%;}
    .$size-2{width: 16.6666%;}
    .$size-3{width: 25%;}
    .$size-4{width: 33.3333%;}
    .$size-5{width: 41.6666%;}
    .$size-6{width: 50%;}
    .$size-7{width: 58.3333%;}
    .$size-8{width: 66.6666%;}
    .$size-9{width: 75%;}
    .$size-10{width: 83.3333%;}
    .$size-11{width: 91.6666%;}
    .$size-12{width: 100%;}    
    */

.mobile{
    .mobile-hidden{display: none;}
    .tablet-visible{display: none;}
    .desktop-visible{display: none;}
}
.tablet{
    .tablet-hidden{display: none;}
    .mobile-visible{display: none;}
    .desktop-visible{display: none;}
}
.desktop{
    .desktop-hidden{display: none;}
    .mobile-visible{display: none;}
    .tablet-visible{display: none;}
}


@media (min-width:1200px){
    .xl-no-padding{padding-left: 0; padding-right: 0;}
}
@media (min-width:992px){
    .lg-no-padding{padding-left: 0; padding-right: 0;}
}
@media (min-width:768px){
    .md-no-padding{padding-left: 0; padding-right: 0;}
}
@media (min-width:544px){
    .sm-no-padding{padding-left: 0; padding-right: 0;}
}

.container-fluid{
    width: 100%;
    max-width: 1200px;
}



