/* ====================
 * Main Navigation
 ==================== */
.mobile-logo {
  display: block;
  position: absolute;
  width: 270px;
  height: 63px;
  top: 10px;
  left: 10px;
  background: url('../img/logo.png') no-repeat;
  @media(min-width: 700px) {
    display: none;
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 510;
  @media(min-width: 700px) {
    display: none;
  }
}

.navigation {
  width: 100%;
  background: $dark_grey;
  @media(max-width: 700px) {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: 500;
    transition: 0.5s;
    &.opened {
      left: 0;
    }
  }
}

.navigation__container {
  @media(max-width: 1200px) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

.navigation__nav {
  @media(max-width: 700px) {
    width: 100%;
  }
}

.navigation__ul {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
  list-style: none;
  display: table;
  @media(min-width: 992px) {
    max-width: 715px;
  }
  @media(max-width:700px) {
    width: 100%;
    height: auto;
    display: block;
  }
  li {
    display: table-cell;
    width: 1%;
    height: 45px;
    line-height: 45px;
    @media(max-width: 700px) {
      display: block;
      width: 100%;
      height: auto;
      text-align: center;
    }
    a {
      color: white;
      white-space: nowrap;
      font-size: 16px;
      text-decoration: none;
      @media(max-width: 700px) {
        font-size: 23px;
      }
    }
  }
}

.nav-item-show-search-form {
  a{
    height: 20px;
    width: 20px;
    display: inline-block;
    text-indent: -9999px;
    background: url("../img/search-button-icon.png") center center no-repeat;
    vertical-align: middle;
  }
  @media(max-width: 700px) {
    display: none !important;
  }
}

.navigation__search {
  margin-top: 6px;
}

.navigation__search-form {
  width: 100%;
  position: relative;
  input {
    border: solid 1px #767676;
    background: inherit;
    height: 30px;
    border-radius: 4px 0 0 4px;
    width: calc(100% - 32px);
    float: left;
    box-shadow: 0 !important;
    color: white;
    padding: 0 10px;
  }
  button {
    width: 33px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0px;
    color: transparent;
    background: $red;
    background: -webkit-linear-gradient(#c0423e, #b81e19);
    background: -o-linear-gradient(#c0423e, #b81e19);
    background: linear-gradient(#c0423e, #b81e19);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url('../img/search-button-icon.png') no-repeat;
      width: 16px;
      height: 16px;
      left: 7px;
      top: 7px;
    }
  }
}

.navigation__search-form-sm {
  @extend .navigation__search-form;
  display: none;
  @media(max-width: 700px) {
    display: block;
  }
}
.header {
  height: 103px;
  @media(max-width: 1200px) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  @media(max-width: 700px) {
    //background: $light_grey;
    border-top: solid 1px $light_grey;
    margin-top: 83px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    overflow-x: hidden;
  }
}

.header__logo {
  float: left;
  display: block;
  width: 270px;
  height: 63px;
  color: transparent;
  background: url('../img/logo.png') no-repeat;
  margin-top: 20px;
  @media(max-width: 700px) {
    display: none;
  }
}

.header__phone {
  position: relative;
  margin-top: 32px;
  margin-right: 83px;
  float: right;
  color: $dark_grey;
  //font-size: 11px;
  font-weight: bold;
  padding-left: 30px;
  a {
    color: inherit;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../img/phone-icon.png') no-repeat;
      left: 00px;
      top: 2px;
    }
  }
  .time {
    font-size: 14px;
    font-weight: 300;
    margin-top: -3px;
    @media (max-width: 700px) {
      display: none;
    }
  }
  @media(max-width: 1000px) {
    margin-right: 50px;
  }
}

.header__lk {
  position: relative;
  float: right;
  margin-right: 80px;
  margin-top: 31px;
  padding-left: 30px;
  .lk {
    font-weight: bold;
    margin-bottom: -5px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../img/lk-icon.png') no-repeat;
      left: 0px;
      top: 0px;
    }
  }
  a {
    color: inherit;
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none
  }
  @media(max-width: 1000px) {
    margin-right: 70px;
  }
  @media(max-width: 880px) {
    display: none;
  }
}

.header__cart {
  float: right;
  margin-top: 32px;
  position: relative;
  padding-left: 45px;
  .header__cart-products {
    font-weight: 600;
  }
  @media (max-width: 700px) {
    width: 45px;
    margin-right: -10px;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 0;
    background: url('../img/cart-icon.png') no-repeat;
    @media(max-width: 700px) {
      background: url('../img/cart.png') no-repeat;
      background-size: contain;
    }
  }
}

.header__cart-products {
  @media(max-width: 700px) {
    color: transparent;
  }
  .qty {
    @media(max-width: 700px) {
      display: block;
      color: black;
      border: solid 2px black;
      border-radius: 50%;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 22px;
      font-size: 12px;
      position: absolute;
      left: 25px;
      top: -10px;
    }
  }
}

.header__cart-summ {
  margin-top: -5px;
  @media(max-width: 700px) {
    display: none;
  }
}

.navigation-categories {
  height: 50px;
  background: url('../img/secondary-nav-bg.png');
  background-repeat: repeat-x;
}

.navigation-categories__container {
  @media (max-width: 1200px) {
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    font-size: 13px;
  }
  @media (max-width: 835px) {
    font-size: 12px;
  }
}

.navigation-categories__ul {
  display: table;
  width: 100%;
  li {
    display: table-cell;
    width: 1%;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    &:first-child {
      display: none;
    }
    @media (max-width: 800px) {
      display: block;
      &:first-child {
        display: block;
      }
    }
    a {
      white-space: nowrap;
      text-decoration: none;
      font-weight: 300;
      color: white;
    }
  }
  @media (max-width: 800px) {
    display: block;
    border: solid 1px $light_grey;
    border-radius: 3px;
    height: 35px;
    overflow: hidden;
    //padding-right: 35px;
    position: relative;
    float: left;
    margin-top: 7px;
    li {
      text-align: left;
    }
    &.opened {
      height: auto;
      li {
        &:first-child {
          background: transparent;
        }
        background: #b81d19;
        width: calc(100% + 35px);
        margin-right: -35px;
      }
    }
    li {
      width: 100%;
      height: 35px;
      padding-left: 10px;
      line-height: 35px;
      font-size: 18px;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .dropdown-label {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      height: 34px;
      right: 8px;
      top: 0;
      background: url('../img/icon-dropdown.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
