
.products__item{
  background: white;
  margin-bottom: 30px;
  padding: 15px;
  border: solid 1px #e7e7e7;
  position: relative;
  min-height: 370px;
  box-sizing: border-box;
  .product__image {
    width: 100%;
    height: 170px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .product__meta{
    padding-top: 9px;
  }
  .product__name {
    line-height: 22px;
    a {
      text-decoration: none;
      color: #b71d18;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .product__excerpt {
    color: #3b3b3b;
    font-size: 15px;
    margin-top: 10px;
  }
  .product__price {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #3b3b3b;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

  .product__hovers{
    display: none;
  }
}
