.product-old {
    height: 370px;
    width: 270px;
    background: white;
    float: left;
    margin-bottom: 30px;
    padding: 15px;
    border: solid 1px #e7e7e7;
    position: relative;
    .img-wrpr {
        ///margin-top: -15px;
        width: 215px;
        height: 140px;
        margin: 0 auto;
        margin-top: 13px;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: contain !important;
    }
    .info-wrpr {
        width: calc(100% - 35px);
        height: 150px;
        position: absolute;
        left: 17px;
        bottom: 20px;
        .name {
            line-height: 22px;
            a {
                text-decoration: none;
                color: #b71d18;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .short-description {
            color: #3b3b3b;
            font-size: 15px;
            margin-top: 10px;
        }
        .price {
            position: absolute;
            left: 0;
            bottom: -10px;
            color: #3b3b3b;
            font-size: 20px;
            font-weight: bold;
            //letter-spacing: 2px;
            &:after {
                content: '';
                display: block;
                width: 13px;
                height: 15px;
                position: absolute;
                right: -20px;
                top: 4px;
                background: url('../images/icon-rouble.png');
            }
        }
    }
}
.products-4-in-row {
    .product {
        @media (min-width: 1200px) {
            margin-left: 30px;
            &:nth-child(4n+1) {
                margin-left: 0;
            }
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            margin-left: 50px;
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @media (min-width: 850px) and (max-width: 992px) {
            margin-left: calc((100% - 810px)/2);
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @media (max-width: 850px) and (min-width: 580px) {
            margin-left: calc(100% - 540px);
            &:nth-child(2n+1) {
                margin-left: 0;
            }
        }
        @media (max-width: 580px) {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    }
}
.products-3-in-row {
    padding-left: 6px;
    .product{
        @media (min-width: 1120px) {
            //margin-left: 30px;
            margin-left: calc( (100% - 810px) / 2 );
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @media (max-width: 1120px) and (min-width: 590px) {
            margin-left: calc( (100% - 540px) / 4 );
            margin-right: calc( (100% - 540px) / 4 );
            &:nth-child(3n+1) {
                //margin-left: 0;
            }
        }
        @media (max-width: 589px) {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.catalog-page {
    main {
        padding-top: 15px;
        padding-bottom: 300px; //TODO убрать потом
    }
}
.catalog-info{
    .catalog-qty-info{
        float: left;
        color: #a7a7a7;
        font-size: 13px;
    }
    .catalog-sort{
        float: right;
        text-align: right;
        color: #a7a7a7;
        font-size: 13px;
        a{
            color: #b81d19;
            font-weight: 800;
        }
        
    }
}
.part-name {
    color: #3b3b3b;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35px;
    float: left;
    margin-top: 20px;
}
.sidebar__categories-nav {
    list-style: none;
    display: block;
    width: 100%;
    padding-top: 8px;
    li {
        display: block;
        width: 100%;
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 6px;
        a {
            display: inline-block;
            width: 100%;
            position: relative;
            padding-left: 20px;
            color: $dark_grey;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 3px;
                width: 14px;
                height: 14px;
                background: url('../images/radio-button.png') no-repeat;
                background-position: left bottom;
            }
        }
        &.active {
            a {
                color: $red;
                &:before {
                    background-position: left top;
                }
            }
        }
    }
}
.filters__rent {
    //padding-left: 10px;
    height: 50px;
    border-bottom: solid 1px #dedede;
    line-height: 50px;
}
.filters__rent-wrpr {
    position: relative;
    .checkbox {
        opacity: 0;
        float: left;
    }
    .checkbox:not(checked) + label:before {
        content: '';
        //position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        background: url('../images/checkbox.png') no-repeat;
        background-position: left bottom;
    }
    .checkbox:checked + label:before {
        content: '';
        //position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        background: url('../images/checkbox.png') no-repeat;
        background-position: left top;
    }
    label {
        color: $red;
        font-size: 15px;
        font-weight: bold;
        position: relative;
    }
    .label-span {
        margin-left: 7px;
    }
}
.filters__brands {
    padding: 15px 10px;
}
.filters__brands-title {
    font-weight: bold;
    color: black;
}
.filters__brands-list {
    list-style: none;
    margin-top: 10px;
    display: block;
    width: 100%;
    float: left;
}
.filters__brands-list-item {
    display: block;
    line-height: 20px;
    width: 100%;
}
#submit-filters {
    @extend .red-gradient;
    text-transform: uppercase;
    font-size: 14px;
    width: 130px;
}
#reset-filter {
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 18px;
}
.product__photos-and-short-info{
    float: left;
    width: 100%;
}
.product__photos{
    width: 570px;
    float: left;
}
.product__main-photo-wrpr{
    width: 100%;
    height: 380px;
    background: white;
    border: solid 1px #e7e7e7;
    text-align: center;
    line-height: 310px;
    padding: 35px;
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.product__photo-thumbs{
    width: 100%;
}
.product__photo-thumb-wrpr{
    width: 125px;
    height: 85px;
    text-align: center;
    padding: 10px;
    line-height: 65px;
    background: white;
    float: left;
    border: solid 1px #e7e7e7;
    margin-top: 20px;
    margin-left: 23.33px;
    &:nth-child(4n+1){
        margin-left: 0;
    }
    
    &.active{
        border: solid 1px #b81d18;
    }
    img{
        max-width: 105px;
        max-height: 65px;
    }
}
.product__short-info{
    float: left;
    width: calc(100% - 570px);
    padding-left: 60px;
}
.short-info__row{
    width: 100%;
    float: left;
    margin-top: 12px;
}
.short-info__title{
    float: left;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: bold;
}
.short-info__data{
    float: left;
    color: #3b3b3b;
    font-size: 15px;
    padding-left: 10px;
}
.short-info__article{
    margin-top: -5px;
}
.short-info__price{
    color: #3b3b3b;
    font-size: 24px;
    font-weight: bold;
    margin-top: 33px;
}
.short-info__cart-btn{
    .into-cart{
        height: 35px;
        color: #fff;
        font-size: 14px;
        width: 170px;
        text-transform: uppercase;
    }
}
.short-info__stock{
    margin-top: 27px;
}
.short-info__delivery{
    margin-top: 5px;
}
.product__full-info{
    float: left;
    width: 100%;
    margin-top: 55px;
}
.product__full-info{}
.product__full-info-title{
    color: #b71d18;
    font-size: 20px;
    font-weight: bold;
}
.product__full-info-text{
        p{
        font-size: 14.9px;
        &:first-child{margin-top: 15px;}
    }
    }
.product__tech-properties{
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.product__full-info-title{
    @extend .product__full-info-title;
}
.tech-properties__table{
    background: white;
    width: 100%;
    float: left;
}
.tech-properties__row{
    width: 100%;
    float: left;
    border: solid 1px #e7e7e7;
    border-bottom: none;
    line-height: 38px;
    &:last-child{ border-bottom: solid 1px #e7e7e7;}
}
.tech-properties__title{
    float: left;
    width: 40%;
    border-right: solid 1px #e7e7e7;
    padding-left: 10px;
    font-weight: bold;
}
.tech-properties__data{
    float: left;
    width: 60%;
    padding-left: 15px;
}
.checkout{
    
}
#checkout-form{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 60px;
    .checkout-header{
        width: 100%;
        font-size: 15px;
        margin-top: 20px;
        float: left;
    }
    .form-part{
        width: 100%;
        float: left;
    }
    .part-1{
        margin-top: 20px;
    }
    .part-2{
        margin-top: 15px;
    }
    .part-3{
        margin-top: 18px;
        .form-row{
            margin-top: 1px !important;
        }
        label{
            width: 100% !important;
            max-width: 500px;
            .label-text{
                font-size: 14.1px;
            }
        }
    }
    
    .part-title{
        position: relative;
            width: 100%;
            float: left;
            color: $red;
            font-size: 20px;
            font-weight: bold;
            padding-left: 28px;
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 5px;
            border: 1px solid #c9c9c9;
            border-radius: 50%;
            font-size: 13px;
            color: #c9c9c9;
            text-align: center;
            
        }
        
        &.part-1-title{
            margin-top: 19px;
            &:before{
                content: '1';
            }
        }
        &.part-2-title{
            margin-top: 30px;
            &:before{
                content: '2';
            }
        }
        &.part-3-title{
            margin-top: 25px;
            &:before{
                content: '3';
            }
        }
        
    }
    
    .form-row{
        width: 100%;
        float: left;
        margin-top: 12px;
        &:first-child{margin-top: 0;};
        label{
            width: 152px;
            padding-left: 28px;
            font-size: 15.2px;
        }
        input[type=text]{
            height: 32px;
            width: 100%;
            max-width: 365px;
            padding: 0 10px;
        }
    }
    .row-5{
        margin-top: 0;
    }
    .row-6{
        label{
            display: block;
            float: left;
        }
        textarea{
            width: 375px;    
            height: 65px;
            resize: none;
            border: 1px solid #c9c9c9;
        }
    }
    .row-10{
        margin-top: 25px;
    }
    #delivery-type-1-label{
        width: 100%;
    }
    #btn-submit-order{
        height: 35px;
        color: white;
        text-transform: uppercase;
        width: 175px;
    }
}
.cart-content{
    width: 100%;
    float: left;
    background: white;
    margin-top: 15px;
    border: 1px solid $grey_border;
    display: table;
    
    .prod-info{
        float: left;
        width: 50%;
        border-right: 1px solid $grey_border;
        .photo-wrpr{
            width: 100px;
            height: 110px;
            float: left;
            text-align: center;
            line-height: 110px;
            img{
                max-width: 100px;
                max-height: 110px;
            }
        }
    }
    .qty{
        float: left;
        width: 17%;
        border-right: 1px solid $grey_border;
    }
    .price{
        float: left;
        width: 17%;
        border-right: 1px solid $grey_border;
    }
    .remove{
        float: left;
        width: 16%;
    }
    .cart-header{
        width: 100%;
        float: left;
        height: 40px;
        border-bottom: 1px solid $grey_border;
        &>div{
            height: 100%;
             line-height: 38px;
            padding-left: 15px;
            font-weight: bold;
        }
        
    }
    .cart-row{
        width: 100%;
        float: left;
        border-bottom: 1px solid $grey_border;
        position: relative;
        //padding: 15px;
        &>div{
            height: 100%;
        }
        .prod-info{
            padding: 15px;
            .prod-name-desc{
                float: left;
                width: calc(100% - 100px);
            }
            .name{
                color: #b71d18;
                font-size: 15px;
                font-weight: bold;
                margin-top: 4px;
                padding-left: 22px;
                width: 100%;
                float: left;
            }
            .desc{
                width: 100%;
                float: left;
                color: #3b3b3b;
                font-size: 14px;
                margin-top: 5px;
                padding-left: 22px;
            }
        }
        .qty{
            position: absolute;
            left: 50%;
            .qty-control-form{
                width: 95px;
                height: 24px;
                float: left;
                margin-top: 15px;
                margin-left: 15px;
                .cart-qty-control{
                    width: 24px;
                    height: 24px;
                    float: left;
                    border: 1px solid $grey_border;
                    display: block;
                    background: #f7f7f7;
                    &.qty-decrement{
                        background-image: url(../images/icon-cart-decrement.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    &.qty-increment{
                        background-image: url(../images/icon-cart-increment.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                }
                input{
                    width: 47px;
                    height: 24px;
                    display: block;
                    float: left;
                    border: none;
                    border-top: 1px solid $grey_border;
                    border-bottom: 1px solid $grey_border;
                    text-align: right;
                    padding: 0 5px;
                }
            }
        }
        .price{
            position: absolute;
            left: 67%;
            padding: 15px;
        }
        .remove{
            position: absolute;
            right: 0;
            padding-top: 14px;
            padding-left: 20px;
        }
    }
    .cart-footer{
        float: left;
        width: 100%;
        height: 38px;
        line-height: 38px;
        .qty{
            padding-left: 10px;
            font-weight: bold;
        }
        .price{
            padding-left: 15px;
            font-weight: bold;
        }
        .remove{
            padding-left: 14px;
            a{
                color: $grey;
                text-decoration: none;
            }
        }
    }
    .remove-product-from-cart{
        display: block;
        color: transparent;
        background: url('../images/cart-remove-product.png') no-repeat;
        width: 22px;
        height: 22px;
    }
    
}
.cart-actions-row{
    margin-bottom: 150px;
    
    .back-to-shop-link{
        color: #9a9a9a;
        font-size: 14px;
        text-decoration: underline;
        position: relative;
        padding-left: 15px;
        float: left;
        margin-top: 40px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 10px;
            height: 8px;
            background: url('../images/icon-back-to-shop.png') no-repeat;
        }
    }
    .to-checkout-link{
        float: right;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 40px;
    }
}

.lk-section{
    .desc{
        font-size: 20px;
        margin-top: 11px;
        float: left;
        color: $red;
        font-weight: bold;
    }
    
    #lk-form{
        display: block;
        float: left;
        max-width: 550px;
        width: 100%;
        margin-top: 15px;
        .form-row{
            width: 100%;
            float: left;
            margin-top: 16px;
            &:first-child{
                margin-top: 0;
            }
        }
        .row-6{
            margin-top: 30px;
        }
        #reg-submit-btn{
            padding-left: 12px;
            padding-right: 12px;
        }
        label{
            width: 180px;
            float: left;
            display: block;
            line-height: 30px;
            margin: 0;
            padding: 0;
        }
        input[type=text], input[type=password]{
            width: calc(100% - 180px);
            height: 31px;
            float: left;
        }
    }
}
.orders-wrpr{
    margin-top: 53px;
}
.orders__title{
    color: $red;
    font-size: 20px;
    font-weight: bold;
}
.lk-orders{
    background: white;
    float: left;
    width: 100%;
    border: 1px solid $grey_border;
    margin-top: 21px;
    margin-bottom: 55px;
    
    .num-cell{
        float: left;
        width: 10%;
        min-height: 1px;
    }
    .extend-cell{
        float: left;
        width: 18%;
        min-height: 1px;
        border-right: 1px solid $grey_border;
    }
    .date-cell{
        float: left;
        width: 16%;
        min-height: 1px;
        border-right: 1px solid $grey_border;
    }
    .summ-cell{
        float: left;
        width: 18%;
        min-height: 1px;
        border-right: 1px solid $grey_border;
    }
    .status-cell{
        float: left;
        width: 22%;
        min-height: 1px;
        border-right: 1px solid $grey_border;
    }
    .repeat-cell{
        float: left;
        width: 16%;
        height: 39px;
        min-height: 1px;
    }
}
.lk-orders__header{
    width: 100%;
    float: left;
    height: 39px;
    line-height: 37px;
    font-weight: bold;
    border-bottom: 1px solid $grey_border;
    >div{
        padding-left: 15px;
    }
}
.lk-order__row{
    float: left;
    width: 100%;
    height: auto;
    min-height: 38px;
    line-height: 39px;
    //border-bottom: 1px solid $grey_border;
    &:last-child{
        border-bottom: none;
    }
    &.extended{
        .lk-order__full-info-row{
            display: block !important;
        }
    }
}
.lk-order__short-info-row{
    width: 100%;
    border-bottom: 1px solid $grey_border;
    float: left;
    //height: 38px;
    >div{
        padding-left: 15px;
    }
}
.lk-order__extend-collapse-link{
    color: $grey;
    position: relative;
    span{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            right: -15px;
            top: 7px;
            width: 10px;
            height: 6px;
            background: url(../images/icon-extend-collapse.png) no-repeat;
        }
    }
    .extend{
        &:after{
            background-position: left bottom !important;
        }
    }
    .collapse{
        display: none;
        background-position: left top !important;
    }
    &.extended{
        .collapse{
            display: inline;
        }
        .extend{display: none;}
    }
}
.lk-order__repeat-order{
    display: inline-block;
    width: 24px;
    height: 22px;
    margin-left: 4px;
    margin-top: 6px;
    background: url(../images/icon-order-repeat.png) no-repeat;
    background-size: 100%;
    background-position: left top;
    &.repeat-enabled{
        background-position: left bottom;
    }
}
.lk-order__full-info-row{
    float: left;
    width: 100%;
    height: auto;
    display: none;
}
.lk-order__product{
    float: left;
    width: 100%;
    height: auto;
    .photo-cell{
        float: left;
        width: 11%;
    }
    .photo-wrpr{
        float: left;
        width: 125px;
        height: 140px;
        padding: 12px;
        text-align: center;
        line-height: 101px;
    }
    img{
        max-width: 101px;
        max-height: 116px;
    }
    .info-cell{
        float: left;
        width: 33%;
        min-height: 1px;
        padding-left: 9px;
        .name{
            float: left;
            width: 100%;
            color: #b71d18;
            font-size: 15px;
            height: 27px;
            font-weight: bold;
            margin-top: 7px;
        }
        .short-description{
            float: left;
            width: 100%;
            color: #3b3b3b;
            font-size: 14px;
            line-height: 20px;
            margin-top: 9px;
            padding-right: 35px;
        }
    }
    .price-cell{
        width: 18%;
        float: left;
        padding-left: 15px;
        padding-top: 10px;
        font-weight: bold;
    }
    .address-cell{
        width: 38%;
        float: left;
        padding-left: 11px;
        .address-title{
            color: #3b3b3b;
font-size: 15px;
font-weight: bold;
            height: 25px;
            margin-top: 8px;

        }
        .address-value{
            color: #3b3b3b;
font-size: 14px;

        }
    }
}