input{}
button{
    border: none;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-decor{
    text-decoration: none;
}

h2{
    //color: #3b3b3b;
    font-size: 24px;
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
    float: left;
}

.display-none{
    display: none;
}

.relative{
    position: relative;
}



.breadcumbs{
    font-size: 13px;
    color: #a6a6a6;
    float: left;
    margin-top: 15px;
    a{
        color: inherit;
        text-decoration: underline;
    }
    
    .border{
        margin-left: 7px;
        margin-right: 7px;
    }
}
.left-sidebar{
    padding-top: 15px;
}
.sidebar{
    width: 100%;
    padding-right: 23px;
    margin-bottom: 15px;
}
.sidebar__header{
    width: 100%;
    background: $dark_grey;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}
.sidebar__content{
    background: white;
    border: solid 1px #dedede;
    border-top: none;
}

.red-gradient{
    background: linear-gradient(to bottom, #c0423f, #b81e18 );
    
}
button.red-gradient, a.red-gradient{
        height: 34px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    line-height: 22px;
}


.nice-checkbox{
    position: relative;
    .checkbox{
        opacity: 0;
        float: left;
        width: 0;
        height: 0;
    }
    .checkbox:not(checked) + label:before {
      content: '';
      //position: absolute;
        display: inline-block;
      top: 0;
      left: 0;
      width: 14px;
        height: 14px;
        background: url('../images/checkbox.png') no-repeat;
        background-position: left bottom;
    }
    .checkbox:checked + label{
        color: $red;
    }
    .checkbox:checked + label:before {
      content: '';
      //position: absolute;
        display: inline-block;
      top: 0;
      left: 0;
      width: 14px;
        height: 14px;
        background: url('../images/checkbox.png') no-repeat;
        background-position: left top;
    }
    label{
        font-size: 15px;
        //font-weight: bold;
        position: relative;
    }
    .label-text{
        font-size: 14.5px;
        margin-left: 7px;
    }
}
.nice-radiobutton{
    position: relative;
    .radiobutton{
        opacity: 0;
        float: left;
        width: 0;
        height: 0;
    }
    .radiobutton:not(checked) + label:before {
      content: '';
      //position: absolute;
        display: inline-block;
      top: 0;
      left: 0;
      width: 14px;
        height: 14px;
        background: url('../images/radio-button.png') no-repeat;
        background-position: left bottom;
    }
    .radiobutton:checked + label{
        color: $red;
    }
    .radiobutton:checked + label:before {
      content: '';
      //position: absolute;
        display: inline-block;
      top: 0;
      left: 0;
      width: 14px;
        height: 14px;
        background: url('../images/radio-button.png') no-repeat;
        background-position: left top;
    }
    label{
        font-size: 15px;
        //font-weight: bold;
        position: relative;
    }
    .label-text{
        font-size: 14.5px;
        margin-left: 7px;
    }
}


.pagination-list{
    list-style: none;
    display: block;
}
.pagination-item{
    display: inline-block;
    padding: 6px;
    line-height: 15px;
    &.active{
        background: #b81d18;
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
}
.pagination-link{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.active{
    .pagination-link{
        color: white;
    }
}


.popup{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.popup-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 501;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.popup-closer{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 502;
    width: 100%;
    height: 100%;
}
.popup-content{
    position: absolute;
    z-index: 503;
    left: 0;
    top: 0;
}

a.inner{
    color: inherit;
    text-decoration: underline;
}

.page-title{
    text-transform: uppercase;
    margin-top: 35px;
    float: left;
    width: 100%;
}

input[type=text],
input[type=password]{
    border: 1px solid $grey_border;
    height: 31px;
    padding: 0 10px;
}
.bg-white{
    background: white;
}

ul{
    list-style-position: inside;
    
    &.red-list{
        display: inline-block;
        list-style: none;
        margin-bottom: 0;
        li{
            padding-left: 15px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 40%;
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background: $red;
                overflow: hidden;
            }
        }
    }
}
p{
    margin: 0;
}
