$dark_grey: #3b3b3b;
$grey: #c8c8c8;
$light_grey: #f7f7f7;
$red: #b81d18;
$grey_border: #e7e7e7;

$grid-columns: 24;

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

$brand-primary: #b81d18;


$font-size-root: 15px;
$font-family-base: 'PT Sans', sans-serif;

$headings-color: $brand-primary;
$headings-font-weight: 600;

$font-size-h1: 24px;
$font-size-h2: 22px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

$btn-font-weight: 400;
