@import 'variables';
@import 'bootstrap/bootstrap';

/* ====================
 * Commons
 ==================== */

body{
  //background: url("../img/home.jpg")center top no-repeat;
}

main{
  background: $light_grey;

}
.section__title{
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 22px;
  color: $dark_grey;
}
.page__heading{
  margin-top: 40px;
  margin-bottom: 30px;
}
.page__title{
  color: $dark_grey;
  text-transform: uppercase;
}
.page__content{
  h1,h2,h3,h4{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 20px;
  }
}
.page__content{
  ul{
    list-style-position: inside;
    display: block;
    list-style: none;
    margin-bottom: 20px;
    li{
      padding-left: 15px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 40%;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: $red;
        overflow: hidden;
      }
    }
  }

}
/* ====================
 * Breadcrumbs
 ==================== */
.breadcrumbs{
  margin-top: 20px;
  font-size: 13px;
  color: #a6a6a6;

  a{
    color: #a6a6a6;
    text-decoration: underline;
    font-size: 13px;
  }
  span{
    color: #a6a6a6;
    font-size: 13px;
  }
  .border{
    margin-left: 7px;
    margin-right: 7px;
  }
}
/* ====================
 * Btns
 ==================== */
.btn{
  text-transform: uppercase;
  border: 0;
  font-size: $font-size-base;
  padding: .6rem 3.3rem;
}
.btn-primary{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0423e+1,b81d18+100 */
  background: #c0423e; /* Old browsers */
  background: -moz-linear-gradient(top,  #c0423e 1%, #b81d18 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c0423e 1%,#b81d18 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c0423e 1%,#b81d18 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0423e', endColorstr='#b81d18',GradientType=0 ); /* IE6-9 */

  text-transform: uppercase;
}

/* ====================
 * Slider Controls
 ==================== */
.slider__controls{
  float: right;
  font-size: 19px;
  line-height: 16px;
  letter-spacing: 1.1px;
  .current-slide-num{
    color: $red;
  }
}
.slider__control{
  display: inline-block;
  width: 8px;
  height: 16px;
  background-size: contain !important;

  &.prev{
    background: url('../img/control-arrow-prev.png') no-repeat;
  }
  &.next{
    background: url('../img/control-arrow-next.png') no-repeat;
  }
}

