@import 'variables';

@import 'ui';
@import 'shop';
@import 'adaptive';

@import 'product';
@import 'header';


/* ====================
 * Slider
 ==================== */
.h_slider{
  margin-bottom: 20px;
}
.h_slider__item{
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
  .slide__thumb{
    margin-bottom: 33px;
  }
  .slide__title{
    font-size: 30px;
    margin-bottom: 19px;
    color: $brand-primary;
    text-transform: uppercase;
  }
  .slide__text{
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 22px;
    color: #000;
  }
}
.h_slider__pagination{
  text-align: center;
  padding-top: 15px;
  .swiper-pagination-bullet{
    width: 15px;
    height: 14px;
    background: url("../img/sl-marker.png") 0 -15px no-repeat;
  }
  .swiper-pagination-bullet-active{
    background-position: 0 0;
  }
}

/* ====================
 * Products Slider
 ==================== */
.products__section{
  margin-bottom: 30px;
}
.products__section_heading{
  margin-bottom: 30px;
}
.products__slider{

}
.products__slide{
  margin-top: 0 !important;
}

/* ====================
 * Brands List
 ==================== */
.brands__section{
  margin-bottom: 57px;
  background: #fff;
  padding-bottom: 10px;
}

.brands__list {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.6666%;
    float: left;
    text-align: center;
    height: 110px;
    @media (max-width: 750px ) {
      width: 25%;
    }
    @media (max-width: 580px ) {
      width: 33.3333%;
    }
  }
}

/* ====================
 * Projects
 ==================== */
.projects__section {
  padding-bottom: 50px;
  background: $light_grey;
}
.projects__section_heading{
  margin-bottom: 27px;
}
.project__slide{
  height: 350px;
  background: white;
  border: solid 1px #e7e7e7;
  margin-bottom: 30px;
}
.project__info{
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.project__name{
  margin-top: 2px;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  a{
    color: $red;
  }
}
.project__date{
  margin-top: 6px;
  font-size: 15px;
  color: #b3b3b3;
}
.project__description{
  font-size: 15px;
  margin-top: 10px;
}

/* ====================
 * Footer
 ==================== */
footer {
  background: $dark_grey;
  padding-top: 30px;
  padding-bottom: 25px;
  width: 100%;

  hr {
    float: left;
    width: 100%;
    height: 1px;
    background: #767676;
    border: none;
    margin-top: 13px;
  }
}

.footer__container {
  @media (max-width: 1200px) {
    max-width: 100%;
    width: 100%;
  }
}

.footer__social-links {
  float: right;
  width: 65px;
  margin-top: 3px;
  margin-right: -3px;
  height: 25px;
  @media (max-width: 1040px) {
    //float: left;
    margin-right: calc(100% - 280px);
  }
  a {
    float: left;
    &.insta {
      margin-left: 15px;
    }
  }
}

.footer__phone {
  float: right;
  margin-top: 6px;
  margin-right: 40px;
  letter-spacing: 0.5px;
  position: relative;
  @media (max-width: 1040px) {
    float: left;
    margin-left: 30px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/phone-icon-footer.png');
    position: absolute;
    left: -27px;
    top: 0;
  }
}



.footer__copyrights {
  float: left;
  color: white;
  //margin-top: 22px;
  margin-top: 7px;
  padding-left: 22px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 11px;
    background: url('../img/icon-copyright.png');
    left: 5px;
    top: 4px;
  }
}

.footer__payments {
  float: right;
  //margin-top: 23px;
  margin-top: 7px;
  margin-right: -3px;
}

.footer__nav {
  width: 685px;
  display: table;
  list-style: none;
  float: left;
  @media (max-width: 1040px) {
    float: none;
  }
  @media (max-width: 720px) {
    display: block;
    width: 100%;
    float: left;
  }
  li {
    display: table-cell;
    width: 15px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    text-align: left;
    padding-right: 40px;
    @media (max-width: 720px) {
      display: block;
      float: left;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
